*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    background-image: url("img/MicrosoftTeams-image.png");
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

header{
  background-color: #000000AA;
  height: 70px;
}

main{
  /*background-color: tomato;*/
  flex-grow: 1;
}

footer{
  /*background-color: turquoise;*/
  height: 40px;
}








