*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  width: 100%;
  height: 100%;/*
  background-repeat: no-repeat;
  background-size: cover; */
  background-image: url("img/boto.jpg");
  /*background-repeat: no-repeat;*/
  background-position: 200px;
  background-color: #0000006e;
  background-blend-mode: darken;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  background-position: cover;
  display: flex;
  flex-direction: column;
}

.caracteristicas.hr.new1 {
  border-top: 1px solid red;
}

.logo img {
width: 120px;
}

header{
background-color: #000000AA;
height: 70px;
display: flex;
justify-content: space-between;
padding: 0 10vw;
align-items: center;
}

.links ul {
display: flex;
gap: 20px;
color: white;
list-style-type: none;
}

.caracteristicas ul {
  display: flex;
  gap: 20px;
  color: white;
  list-style-type: none;
}

.links a:hover {
color: red;
}

.links a {
color: white;
text-decoration: none;
transition: all 1s;
user-select: none;
font-size: 20px;
}

a {
color: white;
text-decoration: none;
}

main{
flex-grow: 1;
padding: 30vh 5vw;
}

main p {
font-size: 25px;
font-weight: 200px;
max-width: 800px;
}

main a {
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height: 50px;
background-color: goldenrod;
color: white;
text-decoration: none;
border-radius: 2px;
margin-top: 30px;
transition: all 0.25s;
}

main a:hover {
border: solid 1px goldenrod;
background-color: black;
}

main h2 {
font-size: 30px;
}

main h1 {
font-size: 70px;
}

h2 {
font-size: 30px;
}

footer{
text-align: center;
height: 40px;
}

.butterfly {
position: absolute;
width: 60px;
top: 90vh;
left: 90vw;
filter: brightness(10%);
animation: voar 20s linear infinite;
}

@keyframes voar {
0% {
  transform: translate(0,0);
}

100% {
  transform: translate(-90vw, -90vh);
}
}